.h1{
    margin-left: 500px;

}
.h1a
{
    text-decoration: underline;
}
.h3a{
    text-decoration: underline;
    text-align: center;
}
.row
{
    margin-top: 20px;
}
.ul{
    text-decoration: solid;
    
}
.card{
    width: 700px;
    height: 400px;
    border: solid;
}
.c2{
    margin-left: 200px;   
}
.ig{
    width: 100px;
    height: 100px;
    margin-left: 30px;
}
