<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/workoutchest.css">
</head>
<body>
    <!--Nav bar start-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../inmages/new.svg" alt="logo" width="50px"> Workout Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse c1" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link active mx-2" aria-current="page" href="../index.html">
                  <img src="../inmages/home.png" alt="#" width="30px" height="30px"></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Exercise List
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="../layout/workoutchest.html" target="_parent ">Chest</a></li>
                <li><a class="dropdown-item" href="../layout/workoutback.html" target="_parent ">Back Body</a></li>
                <li><a class="dropdown-item" href="../layout/workoutbiceps.html" target="_parent ">Bicep</a></li>
                <li><a class="dropdown-item" href="../layout/workoutlegs.html"target="_parent ">Legs</a></li>
                <li><a class="dropdown-item" href="../layout/workouttricep.html" target="_parent ">Tricep</a></li>
                <li><a class="dropdown-item" href="../layout/workoutsholder.html" target="_parent ">Shoulder</a></li>
              </ul>
            </li>
              <li class="nav-item">
                <a class="nav-link active mx-2" aria-current="page" href="./progresstracking.html">
                    Progress Tracking</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle mx-2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../inmages/man.png" alt="#" width="30px" height="30px">
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="./loginpage.html" target="_parent ">Login</a></li>
                <li><a class="dropdown-item" href="./rigs.html">Register</a></li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  <!--Nav bar end-->
    <!--body of Page-->
    <div class="container">
        <div class="h1 mt-2 ">
          <h1 class="h1a">Back Body Exercise </h1>
          </div>
    </div>
    <div class="container-fluid" style="margin-top: 100px;">
      <div class="row">
          <div class="col-lg-3" style="margin-left: 150px;">
              <div class="conatainer" ><img src="../inmages/back/Cable-Close-Grip-Seated-Row-Guide.jpg" alt="#" style="width: 700px;"></div>
          </div>
          <div class="col-lg-3" >
            <div class="conatiner" style="width: 500px; height:437px;  margin-left: 370px; ">
              <h3>Close Grip Cable Row  Benefits</h3>
              <p style="font-size: large;">
                It is one of the most effective exercises when it comes to back muscles. Allows you to build both the width and thickness of the back simultaneously. Cable movements provide constant tension throughout the entire movement. Using cables allows you to work both the concentric and eccentric portions of the exercise. More tension equals more muscle activation.
             </p>
             <p style="font-size: large;">
              Having a strong back helps to keep the spinal column in proper alignment and allows for completion of everyday tasks with reduced injury risk. In addition to helping strengthen the back, the exercise secondarily works the arms and shoulders.
           </p>
            </div>
          </div>
      </div>
  </div>

  <div class="container-fluid" style="margin-top: 100px;">
    <div class="row">

        <div class="conatiner" style="width: 500px; height:500px; margin-left: 150px; ">
          <h3>Lat Pulldown Benefits</h3>
          <p style="font-size: large;">
    <b>Increased back and grip strength:</b> The lat pulldown is a great exercise for building back strength, which can improve posture and reduce the risk of injury. Because the exercise requires a strong grip to hold onto the bar, lat pulldowns can help to improve overall grip strength.</p>
   <p style="font-size: large;"> <b>Improved upper body aesthetics:</b> Because the lats are a large muscle group, developing them through exercises like lat pulldowns can lead to a more sculpted and defined upper body. Also, Lat pulldowns can help you achieve a V-tapered back by targeting the lats, which are the large muscles that run down the sides of your back and give your upper body that “V” shape. When pulling the bar down, focus on squeezing your shoulder blades together at the bottom of the movement. This will help to engage your lats fully and give them a more pronounced appearance.</p>
        </div>
        <div class="col-lg-3" >
          <div class="col-lg-3" style=" margin-left: 30px;">
            <div class="conatainer" ><img src="../inmages/back/latpulldown.jpg" alt="#" style="width: 700px; height:500px;  "></div>
        </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 100px;">
  <div class="row">
      <div class="col-lg-3" style="margin-left: 150px;">
          <div class="conatainer" ><img src="../inmages/back/reverse-grip-lat-pull-down.webp" alt="#" style="width: 700px;"></div>
      </div>
      <div class="col-lg-3" >
        <div class="conatiner" style="width: 500px; height:437px;  margin-left: 370px; ">
          <h3>Reverse Lat-Pulldown Benefits</h3>
          <p style="font-size: large;">
           
    Reverse lat pulldown is one of the most popular exercises used to strengthen the back muscles. Reverse lat-pulldown V-Taper is among the movements that allow you to reach the image. It provides interaction in teres minor and teres major muscle groups for the development of the rear shoulder and wing muscles. In this way, you can create a wider back, wing and shoulder structure.</p>
    <p style="font-size: large;"> Hunching over your computer and phone all day can cause tension and pain in your back. However, regular muscle strengthening exercise will help strengthen these muscles, potentially improving your posture, reducing pain, and improving the overall health of your muscle tissue.
         </p>
        </div>
      </div>
  </div>
</div>
<div class="container-fluid" style="margin-top: 100px;">
  <div class="row">

      <div class="conatiner" style="width: 500px; height:500px; margin-left: 150px; ">
        <h3>Lat Pulldown Benefits</h3>
        <p style="font-size: large;">
  <b>Increased overall strength:</b>Deadlifts are a compound exercise that work multiple muscle groups throughout the body, making them an excellent way to build overall strength and power. It allows you to grasp an object more firmly when you hold it. In addition, studies show that deadlift is an effective exercise for improving explosive strength and vertical jumping performance.</p>
 <p style="font-size: large;"> <b>Increase in testosterone:</b>Deadlifts are a challenging exercise that require a high level of effort and intensity, which can help to stimulate the release of growth hormone and testosterone. As muscle mass increases, testosterone levels tend to increase as well. This can help to maintain healthy testosterone levels as men age.</p>
      </div>
      <div class="col-lg-3" >
        <div class="col-lg-3" style="margin-left: 30px;">
          <div class="conatainer" ><img src="../inmages/back/deadlift.jpg" alt="#" style="width: 700px;"></div>
      </div>
      </div>
  </div>
</div>


   <!-- Footer -->
   <footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span style="color: darkblue;"><b>Get connected with us on social networks:</b></span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h3 class="text-uppercase fw-bold mb-4" style="color: darkblue;">
              <i class="fas fa-gem me-3 " ></i>Workout Tracker
            </h3>
            <p>
                <b>"I have nothing in common with lazy people who blame others for their lack of success. Great things come from hard work and perseverance. No excuses."</b>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4" style="color: darkblue;"><b>Exercise</b>  
            </h5>
            <p>
              <a href="./workoutchest.html" class="text-reset" ><b>Chest</b></a>
            </p>
            <p>
              <a href="./workoutback.html" class="text-reset" ><b>Back Body</b></a>
            </p>
            <p>
              <a href="./workoutbiceps.html" class="text-reset" ><b>Biceps</b></a>
            </p>
            <p>
              <a href="./workoutlegs.html" class="text-reset" ><b>Legs</b></a>
            </p>
            <p>
                <a href="./workouttricep.html" class="text-reset"> <b>Triceps</b></a>
              </p>
              <p>
                <a href="./workoutsholder.html" class="text-reset" ><b>Shoulder</b></a>
              </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
             <h3><a href="./about.html">About</a></h3>
          </div>
          
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4" style="color: darkblue;"><b>Contact</b></h5>
            <p><i class="fas fa-home me-3 text-secondary"></i> Ghaziabad, 201009 , UP</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              WorkoutTracker@example.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> +91 9310169151</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> +91 8881550714</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="../index.html">WorkoutTracker</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
 
    <!--body end-->
</body>
</html>




               
